@font-face {
    /*manera de importar fuentes con descarga*/
    font-family: 'Lora';
    /*me permite ponerle un nombre e la fuente*/
    src: url(../font/Lora/Lora-Italic-VariableFont_wght.ttf);
    /*indicamos donde se encuentra la fuente*/
}

body {
    background-color: #ccc
}

.nav {
    margin: auto;
    max-width: 1400px
}

#container-principal {
    max-width: 1200px;
    margin: auto;
}

i {
    color: #ffffff;

}

nav ul>li>a {
    margin-left: auto;
    font-size: 25px !important;
}

nav a {
    margin-right: auto;
}

.lead {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.img-01 {
    margin-bottom: -48px;
    width: 400px;
    margin: auto;
}

.btn {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #ffffff !important;
    margin-right: auto;
}

.clearfix {
    float: none;
    /*NO TIENE FLOTADO*/
    clear: both;
    /*LIMPIAR LOS FLOTADoS DE ARRIBA TAMBIEN SE PUEDE CON DERECHA E IZQUIERDA*/
}

.container-02 {
    background-color: #ffffff;
    max-width: 90%;
    margin: auto;

}

img {
    width: 150px;

}

.img-container {
    font-family: 'Mooli', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Noto Sans Old Permic', sans-serif;
    font-family: 'Noto Sans Pau Cin Hau', sans-serif;
    font-family: 'Roboto Mono', monospace;
    float: left;
    text-align: center;
    font-size: 15px;
    font-weight: bold;

}

.img-container-01 {
    font-family: 'Mooli', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Noto Sans Old Permic', sans-serif;
    font-family: 'Noto Sans Pau Cin Hau', sans-serif;
    font-family: 'Roboto Mono', monospace;
    float: right;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.img-container-02 {
    font-family: 'Mooli', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Noto Sans Old Permic', sans-serif;
    font-family: 'Noto Sans Pau Cin Hau', sans-serif;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

h3 {
    font-family: sans-serif;
    font-weight: bold;
    color: #1E69B8;
}

/*BLOG CON IMAGENES*/
#galery-container-principal {
    max-width: 1400px;
    max-height: auto;
}

.img-container-001 {
    display: flex;
    margin-left: 50%;
    float: right;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(0, 100px);
    margin-left: 10%;
    margin-top: -3%;
}

.img-container-001 img {
    border-radius: 5px;
    cursor: pointer;
    width: 135px;
    height: auto;
    margin-left: -50%;

}

#galery-container-principal p {
    font-style: italic;
    margin-left: 5%;
}

h4 {
    font: 1em sans-serif;
    font-weight: bold;
    margin-left: 10%;
}
/*CONTACTOS*/
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    padding: .7rem calc((var(--bs-gutter-x) * var(--bs-grid-gutter-width)) / 2 + (var(--bs-border-width) * 2));


}

.header {
    color: #000;
    font-size: 27px;
    padding: 10px;

}

.bigicon {
    font-size: 25px;
    color: red;
}

.col-md-6 {
    float: left;
    margin-top: 9px;
}

iframe {
    margin-left: 20%;
    height: 350px;
}

button[name="form"] {
    color: #000;

}

.flex img {
    border-radius: 10px;
}

/*SERVICIOS*/
#principal {
    max-width: 1400px;
    margin: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;

}

.jumbotron-01 {
    max-width: 1600px;
    margin: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.jumbotron-01 h5 {
    margin-left: 100px;
}

.jumbotron-01 a {

    color: #fff !important;
    text-decoration: none !important;
    padding-top: 40px;
    margin-left: 0px;
}

.jumbotron-01 p {
    margin: 5px;
    float: inline-end;
    color: #454545;
    margin-top: 40px;

}

.card {
    background-color: #ccc;
}

.flex {
    margin-top: 35px;
}

.img-service-01 {
    text-align: center;
    margin-left: 5%;
    float: left;
}

.img-service-01 img {
    width: 400px;
    height: auto;
}

.img-service-02 {
    text-align: center;
    margin-right: 33%;

}

.img-service-02 img {
    width: 400px;
    height: auto;
}

.img-service-03 {
    text-align: center;
    margin-right: 5%;
    float: right;
    margin-top: -38.5%;
}

.img-service-03 img {
    width: 400px;
    height: auto;
}

.img-card {
    margin-top: 10px;
    margin-left: 100px;
    cursor: pointer;
}

/*TEAM*/
.container {
    width: 100%;
    margin: 0 auto;
}

.flex-row {
    display: flex;
    justify-content: center;
}

.flex-01,
.flex-02,
.flex-1 {
    align-items: center;
    margin: 10%;
    margin-top: auto;
    cursor: pointer;
}

.flex [name="imagen-team"] {
    border-radius: 30px;
    width: 300px;
}

.container-team h3,
p {
    text-align: center;
    font-family: 'Lora', sans-serif, serif;
    font-weight: bold;

}

.container-team h3 {
    color: #FC3939;
}

.container-team p {
    color: #000;
}

.card-body h4 {
    font-family: 'Lora', sans-serif, serif;
    color: #FC3939;
    margin-left: 100px;
}

.fondo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    margin-top: -90px;
    text-transform: uppercase;
    font-family: 'Lora', sans-serif, serif;
    font-size: 28px;
}